{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["packages/**/*.js"],
      "options": {
        "trailingComma": "all",
        "tabWidth": 2,
        "printWidth": 100,
        "semi": true,
        "singleQuote": true,
        "jsxBracketSameLine": true
      }
    }
  ]
}